<%- include layouts/header.ejs %>

<% if(typeof posts[0] != 'undefined' ){ %> 

    <header class="masthead" style="background-image: url('img/<%- posts[0].image %>')">
  <% } else{ %>
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    
  <% } %> 
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">Blog code by Le cong nam</span>
          </div>
        </div>
      </div>
    </div>
</header>
<div class="container">
    
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Stt</th>
            <th scope="col">Tiêu đề </th>
            <th scope="col">Tên thay thế</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
      <% posts.forEach(function(post,index){ %>
                <tr>
                    <th scope="row"><%- index+1 %> </th>
                    <td><%- post.title %> </td>
                    <td><%- post.subtitle %> </td>
                    <td><%- post.author %> </td>
                    <td><%= post.createdAt.toDateString() %> </td>
                    <td>
                        <a href="/delete/<%- post._id %>" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>

        <% }); %>
    </tbody>
</table>

</div>

<%- include layouts/footer.ejs %>